/**
 * Overrides to reset.css
 */

html, button, input, select, textarea {
  color: #000000;
}

::-moz-selection { background: #39f; }
::selection { background: #39f; }

/*****************************************************************************/

html, body {
  background-color: #EEEEEE;
  font-family: Arial, sans-serif;
}

html, body, canvas {
  padding: 0;
  margin: 0;
}

canvas {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  background-color: #FFFFFF;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  user-select: none;
}

#overlay {
  text-align: left;
  position: absolute;
  left: 40%;
  top: 80%;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.5);
  color:white;
  padding: 2%;
  border-radius: 10px;
  z-index: 1;
}

#overlay i {
  margin-right: 20px;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
